.row
  .small-12.small-centered.columns{ :style => "text-align: center" }
    %h1
      %b Conversation list
- if convs.count > 0
  .container
    .col-sm-6.col-sm-offset-3
      - for conv in convs
        - if @user['username'] == conv['username1']
          %a#lol{ :href => "/messages/show/#{conv['username2']}" }
            .well
              - lol = get_user_content conv['username2']
              %img{ :src => "#{lol['profilePicture']}" }
              = conv['username2']
        - else
          %a#lol{ :href => "/messages/show/#{conv['username1']}" }
            .well
              - lol = get_user_content conv['username1']
              %img{ :src => "#{lol['profilePicture']}" }
              = conv['username1']
- else
  .row
    .small-12.small-centered.columns{ :style => "text-align: center" }
      %h2.subheader No conversation...
