.row
  .small-12.small-centered.columns{ :style => "text-align: center" }
    %h1
      %b Visits
- if visits.count > 0
  .row
    .col-sm-12
      - for visit in visits
        - user = get_user_content(visit['visiter'])
        .col-sm-4
          .item
            %a{ :href => "/users/show/#{user['username']}" }
              - if user['profilePicture']
                %img.col-sm-4{ :src => "#{user['profilePicture']}" }
              - else
                %img.col-sm-4{ :src => "#{Faker::Placeholdit.image("500x500", 'jpg')}" }
              %div.col-sm-8
                %h1= user['username']
                %span= "Score: #{user['score'] || 0}"
                %span= "Location: #{user['distance'].to_i / 1000} Km"
- else
  .row
    .small-12.small-centered.columns{ :style => "text-align: center" }
      %h2.subheader Nobody visited your profile...
